.border_left{
	border-left: 4px solid #D9DADE;
}

.boton_noticia{
	color: #3B9C4B;
	background: white;
	border: 1px solid #3B9C4B;
	float: right;
	padding: 5px 10px;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.boton_noticia:hover{
	color: white;
	background: #62AA49;
}



.contenido{
	margin: 0 auto;
	margin-top: 20px;
	width: 1081px;
}

.contenido h1{
    margin-bottom: 1px;
}
.contenido .img_promo{
	margin-left: 45px;
	vertical-align: top;	
	width: 620px;
}

.columna_1{
	display: inline-block;
	width: 64%;
}

.contenido_noticia{
	color: #87858A;
	font-size: 14px;
	text-align: justify;

	margin-bottom: 10px;
}

.fecha{
	color: #3B9C4B;
	font-family: 'Signika', helvetica;
	font-size: 12pt;
}

.dos_columnas{
	margin-left: 60px;
}

.dos_columnas input[type=text]{
	margin-top: 10px;
	width: 67px;
}

.etiqueta_siguenos{
	color: #77767B;
	font-family: 'Signika', sans-serif;
	font-size: 20pt;
	margin-left: 35px;
}

.icon_calendar{
	margin-left: 5px;
	margin-top: 10px;
}

.form_ganador{
	background: url(../img/ganador.png);
	background-repeat: no-repeat;
	height: 237px;
	margin-left: 20px;
	width: 325px;
}

.form_ganador input[type=text]{
	border-style: none;
	border-radius: 7px;
	box-shadow: 2px 2px 1px #D9D9DA;
	padding: 8px;
}

.img_promo, aside{
	display: inline-block;
}

.icon_calendar{
	position: absolute;
}



.margin_left_35{
	margin-left: 40px;
}

.noticias{
	margin-top: 40px;
	margin-left: 40px;
}

.noticias .titulo{
	color: #3B9C4B;
	font-weight: bold;
}

.anuncio_noticia{
	margin-bottom: 57px;
	margin-right: 8px;
}

.padding{
	padding-left: 15px;
}

.paginador_circulos{
	text-align: center;
}

.paginador_circulos .circulo{
	background: #C1C3C8;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin-right: 10px;
	width: 10px;
}

.paginador_circulos .active{
	background: #3B9C4B;
}

.redes_seccion img{
	margin-right: 25px;
}

.redes_seccion{
	margin-left: 40px;
}

.separador{
	background-image: url(../img/separador.png);
	background-repeat: no-repeat; 
	height: 35px;
	margin-left: 120px;
	margin-top: 50px;
}

.titulo_noticia{
	color: #87858A;
	font-family: 'Signika', helvetica;
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 10px;
}

	
.justificado{
	text-align: justify;
}
.padding_25 {
	padding-right: 20px;
}

.margin_right_15 {
	margin-right: 15px;
}
