.archivos_descarga{
	border: 3px solid #EDEEF0;
	
}

.archivos_descarga .archivos{
	background: #F3F4F5;
	padding: 20px;
}

.archivos_descarga .links_archivos, .archivos_descarga .archivos{
	display: inline-block;
	vertical-align: top;
}

.archivos_descarga .archivos{
	width: 80%;
}

.inline_block{
	display: inline-block;
	vertical-align: top;
}

.documento img{
	display: block;
	width: 14px;
}

.archivos_descarga span{
	color: #9A999D;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	margin-bottom: 10px;
}

.doc_titulo{
	width: 90%;
}

.btn_descarga{
	position: absolute;
	margin-left: 90px;
}

.btn_volver{
   
    text-align: right; 
}

.btn_volver a{
    color: #918F94;   
}

.btn_volver img{
    vertical-align: middle;
    width: 25px;   
}

.centrado{
	text-align: center;
}

.contenido, .menu_lateral{
	display: inline-block;
	vertical-align: top;
}

.contenido{
	color: #79787D;
	margin-left: 10px;
	width:60%;
}

.contenido h1{
	color: #3B9C4B;
	font-family: 'Signika', helvetica;
	font-size: 22pt;
}

.contenido h2{
	color: #8A898E;
	font-family: 'Signika', helvetica;
	margin-bottom: 20px;
}

.contenido article{
	padding-left: 15px;
	margin-bottom: 25px;
	text-align: justify;
}

.fondo_gris{
	background: #FBFBFC;
	padding: 20px;
}

.fondo_gris p{
	font-size: 13pt;
	margin-bottom: 7px;
}

.fondo_gris h3{
	font-family: 'Signika';
	color: #3B9C4B;
}

.menu_lateral{
	width:33%
}

.menu_lateral a{
	color: #79787D;
	font-size: 16px;
	display: block;
	background: #F3F4F5;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #EFEFEF;
	margin-bottom: 10px;
	padding: 7px 15px;
	width: 100%;
	
}

.menu_lateral a:hover{
	background: #6caf44; /* Old browsers */
	background: -moz-linear-gradient(top,  #6caf44 0%, #4c9832 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6caf44), color-stop(100%,#4c9832)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6caf44 0%,#4c9832 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6caf44 0%,#4c9832 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6caf44 0%,#4c9832 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6caf44 0%,#4c9832 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6caf44', endColorstr='#4c9832',GradientType=0 ); /* IE6-9 */
	color: #fff;
	box-shadow: 3px 3px 3px #6F9668;
}

.menu_lateral .active{
	background: #6caf44; /* Old browsers */
	background: -moz-linear-gradient(top,  #6caf44 0%, #4c9832 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6caf44), color-stop(100%,#4c9832)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6caf44 0%,#4c9832 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6caf44 0%,#4c9832 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6caf44 0%,#4c9832 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6caf44 0%,#4c9832 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6caf44', endColorstr='#4c9832',GradientType=0 ); /* IE6-9 */
	color: #fff;
	box-shadow: 3px 3px 3px #6F9668;
}

.menu_lateral li{
	width: 100%
}

.menu_lateral ul{
	width: 90%;
}
img {
    
}

.img_usuario {
    border-radius: 50px;
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.info_usuario {
    display: inline-block;
    margin-left: 30px;
}

.borde_inferior {
    border-bottom: 3px solid #D8D9DC;
    margin: 0 30px;
    padding-bottom: 15px;
}

.paginador {
    margin-left: 30px;
    text-align: center;
    width: 77%
}

.paginador a{
    color: #79787D;
}


.contenido .fecha_sorteo {
    font-family: 'Signika';
}



.form_sorteos {
    background: #E3E3E5;
    padding: 15px;
    position: absolute;
    width: 647px;
}

.form_sorteos input[type=text]{
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 3px 2px #CDCDCE;
    margin-left: 5px;
    padding: 4px 10px;
}

.form_sorteos .numero{
    width: 150px    
}

.form_sorteos .serie{
    width: 80px    
}

.fecha{
    width: 80px    
}

.form_sorteos span{
    color: #619C47; 
    font-size: 13.5pt
} 

.btn_buscar {
    color: white;
    background: #6caf44;
    background: -moz-linear-gradient(top, #6caf44 0%, #4c9832 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6caf44), color-stop(100%,#4c9832));
    background: -webkit-linear-gradient(top, #6caf44 0%,#4c9832 100%);
    background: -o-linear-gradient(top, #6caf44 0%,#4c9832 100%);
    background: -ms-linear-gradient(top, #6caf44 0%,#4c9832 100%);
    background: linear-gradient(to bottom, #6caf44 0%,#4c9832 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6caf44', endColorstr='#4c9832',GradientType=0 );
    border-top: #539D36;
    border-left: #539D36;
    border-bottom: 3px solid #568551;
    border-right: 3px solid #568551;
    border-radius: 5px;
    padding: 7px 20px;
}

.btn_buscar span{
    top:5px;
}

.btn_buscar span{
    color: white;
}



.titulo_premio {
    font-size: 13pt;
    background-image: url(../img/banner_titulo.png);
    background-repeat: no-repeat;
    height: 60px;
    padding: 10px 25px;
}

.font_size{
font-size: 20pt;
margin-left: 75px
}

.titulo_premio span{
    color: white;
    font-family: 'Bree Serif', serif;     
    text-shadow: 2px 2px #004535;
    display: block;    
    margin-bottom: -5px
}



.tabla_premios {
    box-shadow: 3px 3px 3px #E8E8E9;
    width: 100%;
}

.border_izquierda{
    border-top-left-radius: 7px;
}

.border_derecha{
    border-top-right-radius: 7px;
}

.border_abajo_izquierda{
    box-shadow: -1px 3px 3px #E8E8E9;
    border-bottom-left-radius: 7px;
}

.border_abajo_derecha{
    border-bottom-right-radius: 7px;
     box-shadow: 3px 3px 3px #E8E8E9;
}

.tabla_premios th{
    
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.tabla_premios td{
    border: 1px solid #EDEEF0;
    color: #79787D;
    padding: 5px 10px;
    text-align: center;
}



.margin_boottom_35 {
    margin-bottom: 35px;
}

.gris_claro {
    background: #9C9BA0;
}

.gris_oscuro {
    background: #8C8B90
}

.filtros_directorio {
    background: #E5E6E9;
    border-radius: 7px;
    color: #959398;
    padding: 0px 15px;
    width: 100%;
}

.filtros_directorio select, .filtros_directorio option{
    border: none;
    cursor: pointer;
    color: #959398;
    margin-left: -4px;
    padding: 6px;
    width: 160px;
}

.filtros_directorio span{
    margin-right: 20px;    
}

.gris_claro_select {
    background: #F9F9FA;
}

.gris_oscuro_select {
    background: #E5E6E9;
}

.btn_buscar {
    height: 30px;
    padding: 5px;
    position: absolute;
    width: 60px;
}

.btn_buscar span{  
    top: 2px;
    margin-left: 18px;
}

.justificado {
    text-align: justify;
}

.ancho_320 {
    width: 320px;
}

.font_normal {
    font-weight: normal;
}

.fuente_openSans {
    font-family: 'Open Sans', sans-serif;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.width_30 {
    width: 30%;
}

.width_65 {
    width: 65%
}

.margin_right_18 {
	margin-right: 18px;
}

.padding_25 {
	padding-right: 25px;
}

.margin_bottom_10 {
	margin-bottom: 10px;
}

.compartir_redes {
	height: 45px;
	width: 88%;
}

.compartir_redes img{
	margin-left: 5px;
	width: 35px;
}





.subtitulo {
	color: #79787D;
	display: block;
	font-family: 'Signika';
	margin-bottom: 20px;
}

.busqueda_contratos {
	width: 60%
}

.contratos select, .contratos input[type=text]{
	border: none;
	border-radius: 7px;
	box-shadow: 2px 2px #D9D9DA;
	margin-bottom: 10px;
	padding: 5px 10px;
}

.contratos select{
width: 95%
}

*:focus{
	outline: 0px;
}

.fecha_contratacion .btn_primary_verde{

}
